* {margin:0;padding:0;position:absolute;}
[onclick] {cursor:pointer;}
.pg {position:relative;padding:0;overflow:hidden;margin-left:2mm;margin-right:0mm;margin-bottom:2mm;margin-top:0mm;border:1px black solid;box-shadow:1mm 1mm 0 #AAAAAA;}
pg::after {content:'';position:absolute;margin:0;padding:0;left:0;right:0;top:0;bottom:0;background-color:white;z-index:-2;}
.pa {clear:both;}
.cl {overflow:hidden;}
.rn
.bc {border:1px solid black;}
.cs0 {font-size:10pt;height:4.54282mm;color:#000000;opacity:1;font-family:"맑은 고딕";}
.cs0 > c {font-size:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;}
